html, body {
    font-family: sans-serif;
    padding: 0;
    height: 100%;
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: none;
    padding: 4px 16px;
    border-radius: 6px;
    font-family: monospace;
    text-transform: uppercase;
    font-style: italic;
}

.box {
    padding: 16px;
    margin: 8px;
    box-shadow: 1px 1px 10px rgba(155, 0, 155, 0.3);
    border-radius: 8px;
}
hr {
    border: none;
    height: 1px;
    width: auto;
    background-color: #eee;
}
#console {
    grid-area: console;
    max-height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}
#console #logs {
    flex-grow: 1;
}
#menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#code {
    grid-area: code;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 16px;
}

#footer {
    grid-area: footer;
}

#code .CodeMirror {
    flex-grow: 1;
    max-height: 100%;
}

#code .CodeMirror .CodeMirror-gutters {
    background-color: transparent;
}

.app {
    display: grid;
    grid-template-areas: 'code console menu' 'footer footer menu';
    grid-template-columns: auto 30% 80px;
    grid-template-rows: auto 10%;
    height: 100%;
}